* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: lightblue;
  text-align: center;
  position: sticky;
  top: 0px;
}

.to-top {
  background-color: black;
  color: white;
  padding: 8px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

